

<main>
  <div class="card" style="width: 100%;">
    <div class="card-header"><h2 style="text-align: center">Lists</h2></div>
    <div class="card-body">
      <ul class="todo-list">
        <% @lists.each do |list| %>
          <li><%= link_to list.name, list %>
            <%= button_to '×', list, method: :delete, class: 'destroy', data: { confirm: 'Are you sure?' } %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="card-footer">
      <%= link_to 'New List', new_list_path %>
    </div>
  </div>
</main>
